[submodule "home/.rbenv"]
	path = home/.rbenv
	url = https://github.com/sstephenson/rbenv.git
	branch = master
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
