[submodule "home/.vim/bundle/pathogen"]
	path = home/.vim/bundle/pathogen
	url = git://github.com/vim-scripts/pathogen.vim.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = git://github.com/vim-scripts/SuperTab-continued..git
[submodule "home/.vim/bundle/rainbow-parenthesis"]
	path = home/.vim/bundle/rainbow-parenthesis
	url = git://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "home/.vim/bundle/yankring"]
	path = home/.vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = git://github.com/vim-scripts/snipMate.git
[submodule "home/.vim/bundle/unimpaired"]
	path = home/.vim/bundle/unimpaired
	url = git://github.com/vim-scripts/unimpaired.vim.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = git://github.com/vim-scripts/surround.vim.git
