[user]
	name = Marek Kubica
	email = marek@xivilization.net
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[giggle]
	main-window-maximized = false
	main-window-geometry = 861x732+0+57
	history-view-vpane-position = 392
	main-window-view = HistoryView
	file-view-vpane-position = 577
[alias]
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
