[user]
	name = Marek Kubica
	email = marek@xivilization.net
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[giggle]
	main-window-maximized = false
	main-window-geometry = 861x732+0+57
	history-view-vpane-position = 392
	main-window-view = HistoryView
	file-view-vpane-position = 577
[alias]
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	cat = -p cat-file -p
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
[url "git@github.com:Leonidas-from-XIV/"]
	insteadOf = github:
[push]
	default = simple
[github]
	user = Leonidas-from-XIV
