[user]
	name = Marek Kubica
	email = marek@xivilization.net
	signingkey = 575982D187A6E2C5
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[giggle]
	main-window-maximized = false
	main-window-geometry = 861x732+0+57
	history-view-vpane-position = 392
	main-window-view = HistoryView
	file-view-vpane-position = 577
[alias]
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	cat = -p cat-file -p
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	lgtm = -c core.editor=true merge --no-ff
	squash = rebase --autosquash -i
	fixup = commit -a --fixup HEAD
	patdiff = difftool -y -x patdiff
[url "git@github.com:Leonidas-from-XIV/"]
	insteadOf = github:
[push]
	default = current
	followTags = true
[github]
	user = Leonidas-from-XIV
[rebase]
	autoSquash = true
